.tableContainer {
  width: 98%;
  overflow-x: auto;
  margin-bottom: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

thead {
  background-color: #f5f5f5;
}

th{
  padding: 0!important;
  text-align: center;
  border: 1px solid #ddd;
  font-weight: bold;
  color: #333;
  font-size: 14px;
}
td {
  text-align: center;
  font-size: 14px;
  color: #555;
  border-bottom: 1px solid #ddd;
  padding: 12px 5px;
}


tbody tr {
  transition: background-color 0.3s ease;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

.actionsBlock {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.deleteButton {
  cursor: pointer;
  transition: transform 0.2s;
}

.deleteButton:hover {
  transform: scale(1.1);
}

.col1 {
  text-align: left;
  width: 25% !important;
}

.col2 {
  text-align: center;
  width: 10%;
}

.actions {
  text-align: center;
  width: 15%;
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.headerContent span {
  width: 100%;
}
