
.nav {
  background-color: black;
  padding: 0;
  margin-top: -35px;
  color: white;
  float: right;
}

.nav ul {
  list-style-type: none;
  margin: 0;
}

.nav ul li {
  display: inline-block;
  margin-right: 10px;
  padding-left: 20px;
}

